export(setCredentials)
export(deleteS3Key)
export(emptyS3Bucket)
export(deleteS3Bucket)
export(makeS3Bucket)
export(uploadS3File)
export(downloadS3File)
export(createCluster)
export(checkStatus)
export(checkLastStepStatus)
export(startCluster)
export(stopCluster)
export(submitJob)
export(listToCsv)
export(csvToList)
export(emrlapply)
import(rJava)
